html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
  .container
    div(class="row text-center")             
      h1 IES.
      a(href="/") Go home
      p Authentication

    br
    div(class="container")
      a(href="/login") Local Login
      br
      a(href="/signup") Local Signup
      br
      a(href="/auth/facebook") Facebook
      br
      a(href="/auth/twitter") Twitter
      br
      a(href="/auth/google") Google+

  script(src='http://code.jquery.com/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')