extends layout

block content
    .container.centered
        .row
            .col-md-12
                h1 ES
        .row.mt
            .col-sm-8.col-md-offset-2
                .row
                    .col-sm-4
                        a(href='/login')
                            i.ion-locked
                            p Local Login
                    .col-sm-4
                        a(href='/signup')
                            i.ion-locked
                            p Local Signup
                    .col-sm-4
                        a(href='/auth/facebook')
                            i.ion-social-facebook
                            p Facebook
                .row
                    .col-sm-4
                        a(href='/auth/twitter')
                            i.ion-social-twitter
                            p Twitter
                    .col-sm-4
                        a(href='/auth/google')
                            i.ion-social-googleplus
                            p Google+
                    .col-sm-4
                        a(href='http://www.ua.pt')
                            i.ion-university
                            p UA