doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="icon" href="/assets/img/favicon.ico")
        link(href="/assets/css/bootstrap.css" rel="stylesheet")
        link(href="/assets/css/ionicons.min.css" rel="stylesheet")
        link(href="/assets/css/style.css" rel="stylesheet")
    body
        #h
            .logo
                img(src='/assets/img/logo.png' style="width: 80px; height: 80px;")
            block content
        .container.mt
            .row.mt.centered
                .col-lg-3
                    img.img-circle(src='assets/img/pb.jpg', width='140', alt='')
                    h4 Pedro Bordonhos
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p
                        a(href="#")
                            i.ion-email
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-social-facebook
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-earth
                .col-lg-3
                    img.img-circle(src='assets/img/rd.jpg', width='140', alt='')
                    h4 Renato Duarte
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p
                        a(href="#")
                            i.ion-email
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-social-facebook
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-earth
                .col-lg-3
                    img.img-circle(src='assets/img/rm.jpg', width='140', alt='')
                    h4 Ricardo Mendes
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p
                        a(href="#")
                            i.ion-email
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-social-facebook
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-earth
                .col-lg-3
                    img.img-circle(src='assets/img/td.jpg', width='140', alt='')
                    h4 Tiago Duarte
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p
                        a(href="#")
                            i.ion-email
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-social-facebook
                        | &nbsp;&nbsp;&nbsp;
                        a(href="#")
                            i.ion-earth
        #f
            .container
                .row.centered
                    .col-md-12
                        a(href='#')
                            i.ion-social-facebook
                        a(href='#')
                            i.ion-social-twitter
                        a(href='#')
                            i.ion-social-googleplus
                        a(href='http://www.ua.pt')
                            i.ion-university


        script(src='assets/js/jquery.min.js')
        script(src='assets/js/bootstrap.min.js')