html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', media='screen')
	body
	.container
		form(action="/signup" method="post")
			.form-group
				label Email
				input(type="text" class="form-control" name="email")
			.form-group
				label Password
				input(type="password" class="form-control" name="password")
			button(type="submit") Signup
		hr
		p
			a(href="/login") Login
		p
			a(href="/") Home