extends ../layout-home
block content
    .container
        .row
            .col-md-12
                form(action="/Peer/create" method="POST" role="form" class="new")
                    .form-group
                        h2 Create a Peer

                        .form-group(style="width: 400px;")
                            label Name
                            input(name="name" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label Description
                            input(name="description" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label IP
                            input(name="ip" type="text" class="form-control")
                    input(type="submit" value="Submit" class="btn btn-default")
                a(href="/peer" class="btn btn-danger") Back to list